body{
    background-color: var(--neutral-soft-color);
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.container{
    display: flex;
    max-width: 92rem;
    min-height: 50rem;
    margin: 2rem;
}

.container .card{
    max-width: 33.33%;
    padding: 4.8rem 4.8rem 0;
}

.container .card.sedans{
    background-color: var(--sedans-bg-color);
    border-radius: 1rem 0 0 1rem;
}

.container .card.suvs{
    background-color: var(--suvs-bg-color);
}

.container .card.luxury{
    background-color: var(--luxury-bg-color);
    border-radius: 0 1rem 1rem 0;
}

.container .card .title{
    font-family: var(--font-title);
    font-size: 4rem;
    padding-top: 3.2rem;
    color: var(--neutral-soft-color);
}

.container .card .description{
    font-family: var(--font-secondary-text);
    color: var(--neutral-medium-color);
    font-size: 1.5rem;
    padding-top: 2.5rem;
    line-height: 2.5rem;
}

.container .card .btn{
    font-size: 1.5rem;
    margin-top: 9.6rem;
}

.container .card .btn a{
    font-family: var(--font-secondary-text);
    background-color: var(--neutral-soft-color);
    padding: 1.6rem 3.2rem;
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
}

.container .card.sedans .btn a{
    color: var(--sedans-bg-color);
}

.container .card.suvs .btn a{
    color: var(--suvs-bg-color);
}

.container .card.luxury .btn a{
    color: var(--luxury-bg-color);
}

.container .card .btn a:hover{
    color: var(--neutral-soft-color);
    border: 0.2rem solid #ffffff;
}

.container .card.sedans .btn a:hover{
    background-color: var(--sedans-bg-color);
}

.container .card.suvs .btn a:hover{
    background-color: var(--suvs-bg-color);
}

.container .card.luxury .btn a:hover{
    background-color: var(--luxury-bg-color);
}